<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookshop?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password"></property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <property name="hibernate.show_sql">true</property>


      <mapping class="lk.GamerShop.Entities.Status"/>
      <mapping class="lk.GamerShop.Entities.User"/>
      <mapping class="lk.GamerShop.Entities.Address"/>
      <mapping class="lk.GamerShop.Entities.City"/>
      <mapping class="lk.GamerShop.Entities.Book"/>
      <mapping class="lk.GamerShop.Entities.Author"/>
      <mapping class="lk.GamerShop.Entities.Cart"/>
      <mapping class="lk.GamerShop.Entities.Genre"/>


      <mapping class="lk.GamerShop.Entities.CartItems"/>
      <mapping class="lk.GamerShop.Entities.Order"/>
      <mapping class="lk.GamerShop.Entities.OrderItem"/>

      <mapping class="lk.GamerShop.Entities.Library"/>
      <mapping class="lk.GamerShop.Entities.Admin"/>
      <mapping class="lk.GamerShop.Entities.Feedback"/>




  </session-factory>
</hibernate-configuration>